<%= form_with(model: list, local: true) do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :list_name, class: 'form-control' %>
    <%= content_tag(:small, 'Name of your new list', class: 'form-text text-muted') %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :list_name, class: 'form-control' %>
    <%= content_tag(:small, 'Name of your new list', class: 'form-text text-muted') %>
  </div>

  <% for item in @list.items %>
    <%= fields_for "list[item_attributes][]", item do |item_form| %>
      <div class="form-group">
        <p>
          Task: <%= item_form.text_field :name %>
        </p>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to 'Back', list.id ? list : lists_path, class: 'btn btn-primary' %>
  </div>
<% end %>
